.app {
  height: 100%;
  overflow-y: scroll;
  text-align: center;
  width: 50%;
  position: fixed;
  padding-top: 15rem;
  left: 25%;
  margin-bottom: 4rem;

  @media (max-width: 1023px) {
    width: 100%;
    left: 0;
  }

  .title {
    margin-left: 0.5rem;
    text-align: start;
  }

  .MuiContainer-maxWidthMd {
    padding-bottom: 20rem;
  }
}

.app::-webkit-scrollbar {
  display: none;
}
